/* header css */
sticky-header.header-wrapper {
    position: absolute;
    width: 100%;
    background: transparent;
    border: none;
}

.header-wrapper {
    background-color: red;
}
/* header css close */